/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 40 version
*/


body {
    margin: 0;
    padding: 0;
    font-family: 'Palanquin', sans-serif;
}

/* Navbar styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
}

nav img {
    width: 200px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 16px;
    cursor: pointer;
}

nav a:not(#logo-link):hover {
    background-color: #ddd;
}

/* Dropdown styles */
nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
    padding: 14px 16px;
    cursor: pointer;
}

.language-icon {
    width: 22px;
    vertical-align: middle;
}

nav .dropbtn:hover {
    background-color: #ddd;
    color: #000;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .dropdown-content button {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    border: none;
    background-color: #f9f9f9;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

nav .dropdown-content button:hover {
    background-color: #ddd;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

/* Small screen dropdown menu */
.nav-dropdown {
    display: none;
}

.nav-dropdown img  {
    width: 25px;
}

.nav-dropbtn {
    margin: 10px;
}

.nav-dropdown {
    display: none;
}
  
@media screen and (max-width: 750px) {
    .nav-dropdown {
        position: relative;
        display: inline-block;
    }

    #navbar {
        display: none;
    }
}

@media screen and (min-width: 751px) {
    .nav-dropdown {
        display: none !important;
    }
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 80px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-dropdown-content li {
    display: block;
    margin-bottom: 10px;
}

.nav-dropdown-content a {
    padding: 0%;
}

.dropdown-menu-content {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu:hover .dropdown-menu-content {
    display: block;
}


/* Main styles general */
.main {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
}

@media screen and (max-width: 750px) {
    .main {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 3%;
    }
}

p {
    text-align: center;
    font-size: medium;
    line-height: 1.4;
}

.highlight {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* Header styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel';
    text-align: center;
}

/* Section styles general */
section {
    margin-bottom: 7%;
    padding-top: 8%;
    scroll-margin-top: 70px;
}

/* Language styles */
.language-choice {
    display: none;
}

.language-choice.active {
    display: block;
}

/* Home section styles */
#home .section-content {
    padding-top: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#home .portrait { 
    max-width: 250px; 
    height: auto;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 100px;
}

#home .section-left {
    width: 100%; 
    text-align: center;
}
  
#home .section-right {
    width: 100%;
    text-align: center;
}
  
#home h1 {
    font-size: 300%;
}
  
@media screen and (min-width: 752px) {
    /* Styles for screens larger than 751px */
    #home .section-content {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    #home .section-left {
      float: left;
      width: -webkit-calc(50% - 10px);
      width: calc(50% - 10px);
    }
  
    #home .section-right {
      float: right;
      width: -webkit-calc(50% - 10px);
      width: calc(50% - 10px);
    }

    #home .portrait { 
        margin-top: 0px;
    }
}

/* Skills & Experience section styles */
#skills h1 {
    font-size: 300%;
}

#skills .grid-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}

#skills .skills {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    max-width: 250px;
}

#skills .hidden {
    display: none;
    background-color: #fff;
    padding: 5%;
    border: 1px solid black;
}

#skills .seen {
    cursor: pointer;
    text-decoration: underline;
}

#skills .show {
    display: block;
}

/* Projects section styles */
#projects h1 {
    font-size: 300%;
}

#projects .project {
    padding: 20px;
    text-align: center;
    scroll-margin-top: 150px;
    margin-bottom: 30px;
}

#projects h2 {
    font-size: 200%;
}

#projects img {
    max-width: 100%;
}

#projects .image-container {
    position: relative;
    display: inline-block;
}

#projects .hidden {
    display: none;
    background-color: #fff;
    text-align: center;
    margin-left: 20px;
}

#projects .seen {
    cursor: pointer;
    min-width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

#projects .show {
    display: block;
    scroll-margin-top: 250px;
}

#projects .project-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (min-width: 751px) {
    #projects .project-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
    
    #projects .hidden {
      margin-left: 10px;
      text-align: left;
    }
}

/* Contact section styles */
#contact h1 {
    font-size: 300%;
}

#contact img {
    width: 300px;
    height: auto;
}

#contact .section-content {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

@media screen and (max-width: 751px) {
    #contact .section-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #contact img {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
}

/* SVG styles */
.svg-container {    
    display: -webkit-box;    
    display: -webkit-flex;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100%;
}

.svg {
    width: 100%;
    height: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    min-width: 200px;
    min-height: auto;
    max-width: 700px;
    max-height: auto;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-name: hamburg_skyline-fade-in;
            animation-name: hamburg_skyline-fade-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes hamburg_skyline-fade-in {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes hamburg_skyline-fade-in {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Footer styles */
.footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #000;
}

.footer h2 {
    font-size: medium;
}

.icon-image {
    margin-left: 10px;
    margin-bottom: 25px;
}
